{% extends 'basev2.html.twig' %}

{% form_theme formProjet _self %}

{% block stylesheets %}
	<style type="text/css">
            
        span.select2 {
		    display         : table;
		    table-layout    : fixed;
		    width           : 100% !important;
		}
		.change-message {
			display: none;
		}
    </style>
{% endblock %}

{% block header %}
	    <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-8">
                    {% if editMode %}
					<h2>Fiche projet</h2>
					{% else %}
					<h2>Créer une nouveau projet</h2>
					{% endif %} 
                    <a type="button" class="btn btn-w-m btn-default" href="{{path(r)}}">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
						</svg> Retour vers {{ rr }}
					</a> 
                </div>
                <div class="col-sm-4">
                    <div class="title-projet">
                       
                    </div>
                </div>
            </div>
{% endblock %}


{% block body %}
{{ form_start(formProjet) }}
	<div class="row">
        <div class="col-lg-12">
	        <div class="ibox border" id="printed">
	            <div class="ibox-content">
		            <div class="row">
						<div class="col-lg-12">
                            <div class="m-b-md">
                                <span class="float-right">
                                	<a class="btn btn-white btn-sm noprint" href="{{path(r)}}">Quitter</a>
									{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER_EDITABLE')%}
									<button type='submit' class="btn btn-primary btn-sm noprint disab">
										Enregistrer <span class="change-message">
										<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 1 0V6.707l1.146 1.147a.5.5 0 0 0 .708-.708z"/>
										</svg>
									</span>
									</button>
									{% endif %}
								</span>
								<h2>
									{% if not editMode %}
									Nouvelle fiche
									{% else %}
									PROG-{{ projet.id }} {{ projet.designation | capitalize }}
									{% endif %}
								</h2>
                            </div>
                        </div>
						{% if editMode %}
                        <div class="col-lg-6">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Statut :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
									{% for place in workflow_marked_places(projet) %}<strong>{{ workflow_metadata(projet, 'title', place) ?: ''}}</strong>{% endfor %}
									
									</dd>
                                </div>
                            </dl>
							<dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Managers :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
									{% if projet.responsable is not null %}
									<a href="{{path('people_edit',{'id' : projet.responsable.id} ) }}" class="btn btn-outline btn-primary btn-xs">
									{{ projet.responsable.firstname | default("") }} {{ projet.responsable.lastname | default("N/C") }}
									</a>
									{% endif %}
									{% if projet.suppleant is not null %}
									<a shref="{{path('people_edit',{'id' : projet.suppleant.id} ) }}" class="btn btn-outline btn-primary btn-xs">
									{{ projet.suppleant.firstname | default("") }} {{ projet.suppleant.lastname | default("N/C") }}
									</a>
									{% endif %}
									</dd>
								</div>
                            </dl>
							<dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Contributeurs :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
										{% for people in projet.peoples %}
											<a shref="{{path('people_edit',{'id' : people.id} ) }}" class="btn btn-outline btn-primary btn-xs" style="margin-top:2px">
											{{ people.firstname }} {{ people.lastname }} 
											</a>
										{% endfor %}
									</dd>
								</div>
                            </dl>
                        </div>
                        <div class="col-lg-6" id="cluster_info">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Mise à jour :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">le {{ projet.publishedat | date("d M Y")  }} par {{ projet.Publisher.firstname | default("n/c") }} </dd>
                                </div>
                            </dl>
							<dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Workflow :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                   <dd class="mb-1">Passé en {% for place in workflow_marked_places(projet) %} {{ workflow_metadata(projet, 'title', place)|lower ?: ''}}{% endfor %} le {{ projet.validatedat | date("d M Y")  }} par {{ projet.validator.firstname | default("n/c") }} </dd>
									{% set rolep = "" %}
									{% for people in projet.peoples %}{% if people == app.user.people %}{% set rolep = "people" %}{% endif %}{% endfor %}
									{% set roles = "" %}{% if projet.suppleant == app.user.people  %}{% set roles = "suppleant" %}{% set rolep = "people" %}{% endif %}
									{% set roler = "" %}{% if projet.responsable == app.user.people or is_granted('ROLE_ADMIN')  %}{% set roler = "responsable" %}{% set roles = "suppleant" %}{% set rolep = "people" %}{% endif %}
									{% for transition in workflow_transitions(projet) %}
										{% if workflow_can(projet, transition.name) %}
											{% if workflow_metadata(projet, 'role', transition) in [rolep, roles, roler] %}
												<a type='button' style="margin: 2px" class="btn btn-{{ workflow_metadata(projet, 'ambiance', transition)}} btn-xs adisab" href="{{path('projet_workflow', {
												'id' : projet.id,
												'statut' : transition.name, 
												'r' : r,
												'rr' : rr
												})}}">
												{{ workflow_metadata(projet, 'title', transition) ?: 'n-a'}}
												</a>
											{% endif %}
										{% endif %}
									{% else %}
										No actions available.
									{% endfor %}
                                </div>
                            </dl>
                        </div>
                    	{% endif %}
					</div>
					
					
					                    
					<br><br>
					
		            <div class="row">
						<div class="col-lg-12">
		            		<div class="tabs-container">
		                        <ul class="nav nav-tabs">
								{% if editMode %}
									<li><a class="nav-link active show" data-toggle="tab" href="#introduction"> 
				                            <span style="font-size: 18px;">
												Synthèse
											</span>
										</a>
									</li>
								{% endif %}
		                            <li><a class="nav-link {% if not editMode %}active show{% endif %}" data-toggle="tab" href="#information"> 
				                            <span style="font-size: 18px;">
												<i class="fa fa-info-circle"></i>
											</span>
										</a>
									</li>
									<li>
		                            	<a class="nav-link" data-toggle="tab" href="#relation"> 
				                            <span style="font-size: 18px;">
												<i class="fa fa-link"></i>
											</span>
										</a>
									</li>
		                            <li>
		                            	<a class="nav-link" data-toggle="tab" href="#files"> 
				                            <span style="font-size: 18px;">
												<i class="fa fa-files-o"></i>
											</span>
										</a>
									</li>
		                            <li><a class="nav-link" data-toggle="tab" href="#note"> 
				                            <span style="font-size: 18px;">
												<i class="fa fa-pencil-square-o"></i>
											</span>
										</a>
									</li>
		                        </ul>
								<div class="tab-content">
									{% if editMode %}
									<div id="introduction" class="tab-pane active show">
		                                <div class="panel-body">
											<div class="row">
												<div class="col-lg-8">
													<p>
														{{ projet.description | raw}}
													</p>			                                
													<div class="form-group row">				
														<div class="col-lg-12">
															<h5>Tracking Actions</h5>
															<table class="table table-hover">
																<thead>
																	<tr>
																		<th><small>Désignation</small></th>
																		<th><small>Prog.</small></th>
																		<th><small>Budget.</small></th>
																		<th><small>Prio.</small></th>
																	</tr>
																</thead>
																<tbody>
																{% for action in projet.actions if action.archive is null %}
																	<tr class="info">
																		<td>
																			<a class="text-dark" href="{{path('action_edit',{'slug' : action.slug, 'id' : action.id, 'r' : r, 'rr' : rr} ) }}">
																				AC-{{ action.id | default("N/C") }} {{ action.designation |  default("N/C") }}
																			</a>
																		</td>
																		<td>
																			
																			{% set sumj = 0 %}
																			{% for jalon in action.jalonConnectActions if jalon.fini == 1 %}
																				{% set sumj = loop.index0 + 1 %} 
																				{% endfor %}
																				
																				
																				{% set sumu = 0 %}
																				{% for jalon in action.jalonConnectActions %}
																				{% set sumu = loop.index0 + 1 %} 
																				{% endfor %}
																				
																				<small>Progression estimée à {{ action.progression | number_format(0, '.', ' ') | default("0") }}%. {{ sumj }} jalons terminés sur un total de {{ sumu }}</small>
																				<div class="progress progress-mini">
																					<div style="width: {{ action.progression | number_format(0, '.', ' ') | default('0') }}%;" class="progress-bar"></div>
																				</div>
																				
																		
																		</td>
																		<td>
																			{{ action.budget | number_format(0, '.', ' ') | default("N/C") }}€ 
																			{{ action.etp | number_format(0, '.', ' ') | default("N/C") }}j/h
																		</td>
																		<td>
																				<span class="badge {{ action.priorite.color | default("")}}">{{ action.priorite.designation | default("N/C") }}
																			</small>
																		</td>
																	</tr>
																	{% endfor %}
																</tbody>
															</table>
														</div>
													</div>
													
													

												</div>
												<div class="col-lg-4">
													<div class="row">
														<div class="col-lg-12">	
															<h5>Progression</h5>
																<div class="progress m-b-1">
																	{% set sumratings = 0 %}
																	{% for action in projet.actions if action.id is defined %}																																					{% set sumratings = sumratings + action.progression %}
																	{% endfor %}
																	{% if projet.actions|length >0  %}
																		{% set sumratings = sumratings / projet.actions|length %}
																	{% endif  %}
																	<div style="width: {{  sumratings | number_format(0, '.', ' ') }}%;" class="progress-bar progress-bar-striped progress-bar-animated">
																	</div>
																</div>
																<small>Progression du projet à <strong>{{  sumratings | number_format(0, '.', ' ') }} %</strong></small>
															<h5>KPI</h5>	
															<dl class="row mb-0">
																<div class="col-sm-4 text-sm-right"><dt>Programme : </dt> </div>
																<div class="col-sm-8 text-sm-left">
																	<dd class="mb-1">
																		{{ projet.program.designation | default("N/C") }}
																	</dd>
																</div>
															</dl>
															<dl class="row mb-0">
																<div class="col-sm-4 text-sm-right"><dt>Axe : </dt> </div>
																<div class="col-sm-8 text-sm-left">
																	<dd class="mb-1">
																		{{ projet.axe.title | default("N/C") }}
																	</dd>
																</div>
															</dl>
															<dl class="row mb-0">
																<div class="col-sm-4 text-sm-right"><dt>Pilote : </dt> </div>
																<div class="col-sm-8 text-sm-left">
																	<dd class="mb-1">
																		{{ projet.metier.code | default("N/C") }} - {{ projet.responsale.firstname | default("N/C")  }} {{ projet.responsable.lastname | default("N/C")  }}
																	</dd>
																</div>
															</dl>
															<dl class="row mb-0">
																<div class="col-sm-4 text-sm-right"><dt>Budget : </dt> </div>
																<div class="col-sm-8 text-sm-left">
																	<dd class="mb-1">
																		{% set sum = 0 %}
																		{% set suma = 0 %}
																		{% set complet = "" %}
																		{% for action in projet.actions %}
																			{%if action.budget is not null %}
																				{% set sum = action.budget + sum ?? 0 %}
																				{% if loop.last %}{% endif %}
																			{% else %} 
																				{% set complet = "Incomplet" %}
																			{% endif %}
																			{% for jalon in action.jalonConnectActions %}
																				{%if jalon.budget is not null and jalon.fini ==1 %}
																					{% set suma = jalon.budget + suma ?? 0 %}
																				{% endif %}
																			{% endfor %}
																		{% endfor %}
																		(P) {{ sum | number_format(0, '.', ' ') }} € <i>{{ complet | default("") }}</i> - (C) {{ suma | number_format(0, '.', ' ') }} €											
																	</dd>
																</div>
															</dl>
															<dl class="row mb-0">
																<div class="col-sm-4 text-sm-right"><dt>R/H : </dt> </div>
																<div class="col-sm-8 text-sm-left">
																	<dd class="mb-1">
																		{% set sumj = 0 %}
																		{% set sume = 0 %}
																		{% for action in projet.actions %}
																			{%if action.etp is not null %}
																				{% set sumj = action.etp + sumj ?? 0 %}
																				{% if loop.last %}{% endif %}
																			{% endif %}
																			{% for jalon in action.jalonConnectActions %}
																				{%if jalon.etp is not null and jalon.fini ==1 %}
																					{% set sume = jalon.etp + sume ?? 0 %}
																				{% endif %}
																			{% endfor %}
																		{% endfor %}
																		(P) {{ sumj | number_format(0, '.', ' ') }} j/h - (C) {{ sume | number_format(0, '.', ' ') }} j/h	
																	</dd>
																</div>
															</dl>
															<dl class="row mb-0">
																<div class="col-sm-4 text-sm-right"><dt>Démarré : </dt> </div>
																<div class="col-sm-8 text-sm-left">
																	<dd class="mb-1">
																		{% set minValue = "now"|date("Y-m-d") %}
																		{% for action in projet.actions %}
																			{% set minValue = min(action.datedebut|date("Y-m-d"), minValue) %}
																		{% endfor %}
																		{{ minValue }}
																	</dd> 
																</div>
															</dl>
															<dl class="row mb-0">
																<div class="col-sm-4 text-sm-right"><dt>Fin planifiée : </dt> </div>
																<div class="col-sm-8 text-sm-left">
																	<dd class="mb-1">
																		{% set maxValue2 = 0 %}
																	{% for action in projet.actions if action.datefin is defined and action.datefin is not null %}
																	{% set maxValue2 = max(action.datefin|date("Y-m-d"), maxValue2) %}
																	{% endfor %}
																	{{ maxValue2 }}
																	</dd> 
																</div>
															</dl>
															<dl class="row mb-0">
																<div class="col-sm-4 text-sm-right"><dt>Outlook : </dt> </div>
																<div class="col-sm-8 text-sm-left">
																	<dd class="mb-1">
																		{% set maxValue3 = 0 %}
																		{% for action in projet.actions %}
																				{% if action.datefinrevue is defined and action.datefinrevue is not null  %}
																						{% set maxValue3 = max(action.datefinrevue|date("Y-m-d"), maxValue3) %}
																			{% endif %}
																		{% endfor %}
																		{{ maxValue3 }}
																	</dd> 
																</div>
															</dl>
															<dl class="row mb-0">
																<div class="col-sm-4 text-sm-right"><dt>Fin réelle : </dt> </div>
																<div class="col-sm-8 text-sm-left">
																	<dd class="mb-1">
																		{% set maxValue4 = 0 %}
																		{% set end = '' %}
																		{% for action in projet.actions %}
																		{% set maxValue4 = max(action.datefinreelle|date("Y-m-d"), maxValue4) %}
																		{% if action.datefinreelle is null or action.datefinreelle is not defined or action.datefinreelle == '' %}
																			{% set end = 'En cours' %}
																		{% endif %}
																		{% endfor %}
																		{% if end == '' %}
																		{{ maxValue4 }} {% else %} {{ end }}
																		{% endif %}
																	</dd> 
																</div>
															</dl>
															
															<h5>Comply</h5>

														</div>
													</div>	
												</div>
											</div>			                                
		                                </div>
		                            </div>
									{% endif %}
		                            <div id="information" class="tab-pane {% if not editMode %}active show{% endif %}">
		                                <div class="panel-body">
			                                <div class="row">
												<div class="col-md-12"><h3>Informations générales</h3></div>
											</div>
											<br>
											<div class="form-group  row">
												<label class="col-sm-2 col-form-label">{{ form_label(formProjet.designation, 'Désignation') }}</label>
												<div class="col-sm-10">{{ form_widget(formProjet.designation)}}</div>
										    </div>
										    
										    <div class="hr-line-dashed"></div>
										    
										    <div class="form-group  row">
												<label class="col-sm-2 col-form-label">{{ form_label(formProjet.code, 'Code') }}</label>
												<div class="col-sm-10">{{ form_widget(formProjet.code)}}</div>
										    </div>
										    
										    <div class="hr-line-dashed"></div>
										    
										    <div class="form-group  row">
												<label class="col-sm-2 col-form-label">{{ form_label(formProjet.description, 'Description') }}</label>
												<div class="col-sm-10">{{ form_widget(formProjet.description)}}</div>
										    </div>
										    
										     <div class="hr-line-dashed"></div>
										     
										     
										    <div class="form-group row"><label class="col-sm-2 col-form-label">Pilotage</label>
										        <div class="col-sm-10">
										            <div class="row">
										                <div class="col-md-6"><span class="form-text m-b-none text-navy">Direction</span>{{ form_widget(formProjet.metier)}}</div>
										            </div>
													 <div class="row">
										                <div class="col-md-3"><span class="form-text m-b-none text-navy">Pilote</span>{{ form_widget(formProjet.responsable)}}</div>
														<div class="col-md-3"><span class="form-text m-b-none text-navy">Suppleant</span>{{ form_widget(formProjet.suppleant)}}</div>
														<div class="col-md-6"><span class="form-text m-b-none text-navy">Contributeurs</span>{{ form_widget(formProjet.peoples)}}</div>
										            </div>
										        </div>
										    </div>
		                                </div>
		                            </div>
		                            
		                            <div id="relation" class="tab-pane">
		                                <div class="panel-body">
			                                <div class="row">
												<div class="col-md-12"><h3>Relations</h3></div>
											</div>
											<br>			                                
			                                <div class="form-group row">				
										        <div class="col-sm-12">
													<div class="form-group  row">
														<label class="col-sm-2 col-form-label">{{ form_label(formProjet.axe, 'Axe stratégique') }}</label>
														<div class="col-sm-10">{{ form_widget(formProjet.axe)}}</div>
												    </div>
												    
												    <div class="hr-line-dashed"></div>
												     
												    <div class="form-group  row">
														<label class="col-sm-2 col-form-label">{{ form_label(formProjet.contributeur, 'Autres contributeurs') }}</label>
														<div class="col-sm-10">{{ form_widget(formProjet.contributeur)}}</div>
												    </div>
												    
												    <div class="hr-line-dashed"></div>
												     
												    <div class="form-group row"><label class="col-sm-2 col-form-label">Pré-requis et risques identifiés</label>
												        <div class="col-sm-10">
												            <div class="row">
												                <div class="col-md-3"><span class="form-text m-b-none text-navy">Pré-requis</span>{{ form_widget(formProjet.prerequis)}}</div>
												                <div class="col-md-9"><span class="form-text m-b-none text-navy">Risques</span>{{ form_widget(formProjet.risques)}}</div>
												            </div>
												        </div>
												    </div>
												    
												    <div class="hr-line-dashed"></div>
												     
												    <div class="form-group  row">
														<label class="col-sm-2 col-form-label">{{ form_label(formProjet.actions, 'Actions') }}</label>
														<div class="col-sm-10">{{ form_widget(formProjet.actions)}}</div>
												    </div>
												    
												    <div class="hr-line-dashed"></div>
												     
												    <div class="form-group  row">
														<label class="col-sm-2 col-form-label">{{ form_label(formProjet.tier, 'Partenaires') }}</label>
														<div class="col-sm-10">{{ form_widget(formProjet.tier)}}</div>
												    </div>
										        </div>
										    </div>
		                                </div>
		                            </div>
		                            <div id="files" class="tab-pane">
			                            <div class="panel-body">
			                                <div class="row">
												<div class="col-md-12"><h3>Gestionnaire de fichiers</h3></div>
											</div>
											<br>			                                
			                                <div class="form-group row">				
										        <div class="col-sm-12">
										            <iframe id="myframe" src="{{ path('file_manager', {module:1, conf:'entry', tree:0, extra: {'customer':app.user.customer.id, 'bigentity': 'Portfolio', 'entryprefix': 'PROJ', 'entryid': projet.id}}) }}" width="100%" height="500" frameborder="0"></iframe>
										        </div>
										    </div>
			                            </div>
			                        </div>
		                            <div id="note" class="tab-pane">
		                                <div class="panel-body">
			                                <div class="row">
												<div class="col-md-12"><h3>Notes</h3></div>
											</div>
											<br>			                                
			                                <div class="form-group row">				
										        <div class="col-sm-12">
											        {{ form_widget(formProjet.commentaire)}}
										        </div>
										    </div>
		                                </div>
		                            </div>
								</div>
		            		</div>
			            </div>
					</div>							
				</div>
	        </div>
    	</div>
    </div>
{{ form_end(formProjet) }}
{% endblock %}



{% block javascripts %}

	<script>
	$(document).ready(function() {
			$('#projet_actions').select2();
			$('.select2').select2();
			$('#projet_metier').select2();
			$('#projet_tier').select2();
			$('#projet_contributeur').select2();
			$('#projet_risques').select2();
			$('#projet_axe').select2();
			
			
			CKEDITOR.replace( 'projet_description' );
			CKEDITOR.replace( 'projet_commentaire' );

			//Vérification des modifications du form pour affichage des boutons adéquates
			var $form = $('form'),origForm = $form.serialize();
			// Enable or disable button
			$('form :input').on('change input', function() {
				$('.change-message').toggle($form.serialize() !== origForm);
				$('.adisab').addClass('disabled');
			});

			//Prevent leave if unsaved change
			var isSubmitting = false
			$('form').submit(function(){isSubmitting = true})
			$('form').data('initial-state', $('form').serialize());
			$(window).on('beforeunload', function() {
				if (!isSubmitting && $('form').serialize() != $('form').data('initial-state')){
					return 'You have unsaved changes which will not be saved.'
				}
			});
			
	
	
		});

		
		
		
				/// Save tab state
		if (location.hash) {
		  $('a[href=\'' + location.hash + '\']').tab('show');
		}
		var activeTab = localStorage.getItem('activeTab');
		if (activeTab) {
		  $('a[href="' + activeTab + '"]').tab('show');
		}
		
		$('body').on('click', 'a[data-toggle=\'tab\']', function (e) {
		  e.preventDefault()
		  var tab_name = this.getAttribute('href')
		  if (history.pushState) {
		    history.pushState(null, null, tab_name)
		  }
		  else {
		    location.hash = tab_name
		  }
		  localStorage.setItem('activeTab', tab_name)
		
		  $(this).tab('show');
		  return false;
		});
		$(window).on('popstate', function () {
		  var anchor = location.hash ||
		    $('a[data-toggle=\'tab\']').first().attr('href');
		  $('a[href=\'' + anchor + '\']').tab('show');
		});

	</script>
	
{% endblock %}


