{% extends 'basev2.html.twig' %}

{% form_theme formReclamation _self %}
{% block stylesheets %}
	<style type="text/css">
            
        span.select2 {
		    display         : table;
		    table-layout    : fixed;
		    width           : 100% !important;
		}
		
		
		@media print
		{
		.tab-pane {  display: block !important;  }
		.noprint {  display: none !important;  }
		.tab-pane { page-break-before: always; }
		}

		.change-message {
				display: none;
			}
    </style>
{% endblock %}

{% block header %}
	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
			{% if editMode %}
				<h2>Réclamation</h2>
				{% else %}
				<h2>Créer une réclamation</h2>
			{% endif %}
			<a type="button" class="btn btn-w-m btn-default" href="{{path(r)}}">
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
				</svg> Retour vers {{ rr }}
			</a> 
           	
        </div>
        <div class="col-sm-4">
            <div class="title-action">
               
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
{{ form_start(formReclamation) }}
	 <div class="row">
        <div class="col-lg-12">
	        <div class="ibox" id="printed">
	            <div class="ibox-content">
					<div class="row">
						<div class="col-lg-12">
                            <div class="m-b-md">
                                <span class="float-right">
                              
                                <a class="btn btn-white btn-sm noprint" href="{{path(r)}}">Quitter</a>
								{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER_EDITABLE')%}
								<button type='submit' class="btn btn-primary btn-sm noprint disab">
								{% if editMode %}
								Enregistrer <span class="change-message">
								<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 1 0V6.707l1.146 1.147a.5.5 0 0 0 .708-.708z"/>
								</svg>
								</span>
								{% else %}
								Ajouter
								{% endif %}
								</button>
								{% endif %}
								</span>
								<h2>
									{% if not editMode %}
									Nouvelle fiche
									{% else %}
									REC-{{ reclamation.id }} {{ reclamation.designation | capitalize }}
									{% endif %}
								</h2>
                            </div>
							<div class="hr-line-dashed"></div>
                        </div>

						
						{% if editMode %}
                        <div class="col-lg-6">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Statut :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
									{% for place in workflow_marked_places(reclamation) %}<strong>{{ workflow_metadata(reclamation, 'title', place) ?: ''}}</strong>{% endfor %}
									
									</dd>
									
                                </div>
                            </dl>
							<dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Managers :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
									{% if reclamation.responsable is not null %}
									<a href="{{path('people_edit',{'id' : reclamation.responsable.id} ) }}" class="btn btn-outline btn-primary btn-xs">
									{{ formReclamation.vars.value.responsable.firstname | default("") }} {{ formReclamation.vars.value.responsable.lastname | default("N/C") }}
									</a>
									{% endif %}
									{% if reclamation.suppleant is not null %}
									<a shref="{{path('people_edit',{'id' : reclamation.suppleant.id} ) }}" class="btn btn-outline btn-primary btn-xs">
									{{ formReclamation.vars.value.suppleant.firstname | default("") }} {{ formReclamation.vars.value.suppleant.lastname | default("N/C") }}
									</a>
									{% endif %}
									</dd>
								</div>
                            </dl>
							{% if reclamation.redacteur is not null %}
							<dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Rédacteur :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
										<a shref="{{path('people_edit',{'id' : reclamation.redacteur.id} ) }}" class="btn btn-outline btn-primary btn-xs">
									{{ formReclamation.vars.value.redacteur.firstname | default("") }} {{ formReclamation.vars.value.redacteur.lastname | default("N/C") }}
									</a>
									</dd>
								</div>
                            </dl>
							{% endif %}
							{% if reclamation.peoples | length >0 %}
							<dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Contributeurs :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
										{% for people in reclamation.peoples %}
											<a shref="{{path('people_edit',{'id' : people.id} ) }}" class="btn btn-outline btn-primary btn-xs" style="margin-top:2px">
											{{ people.firstname }} {{ people.lastname }} 
											</a>
										{% endfor %}
									</dd>
								</div>
                            </dl>
							{% endif %}
                        </div>
                        <div class="col-lg-6" id="cluster_info">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Mise à jour :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">le {{ reclamation.publishedat | date("d M Y")  }} par {{ reclamation.Publisher.firstname | default("n/c") }} </dd>
                                </div>
                            </dl>
							<dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Workflow :</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">le {{ reclamation.validatedat | date("d M Y")  }} par {{ reclamation.validator.firstname | default("n/c") }} </dd>

									<div class="hr-line-dashed"></div>

									<ul class="steps">
										<li class="step {% if workflow_has_marked_place(reclamation, 'review') or workflow_has_marked_place(reclamation, 'validation') or workflow_has_marked_place(reclamation, 'validation_ok')  %}step-success{% elseif workflow_has_marked_place(reclamation, 'draft') %}step-active{% elseif workflow_has_marked_place(reclamation, 'rejected') %}step-error{% endif %}">
											<div class="step-content">
											<span class="step-circle">1</span>
											<span class="step-text">{% if workflow_has_marked_place(reclamation, 'draft') or workflow_has_marked_place(reclamation, 'rejected') %}Rédaction{% else %}Rédigé{% endif %}</span>
											</div>
										</li>
										<li class="step {% if workflow_has_marked_place(reclamation, 'validation') or workflow_has_marked_place(reclamation, 'validation_ok')  %}step-success{% elseif workflow_has_marked_place(reclamation, 'review') %}step-active{% endif %}">
											<div class="step-content">
											<span class="step-circle">2</span>
											<span class="step-text">{% if workflow_has_marked_place(reclamation, 'review') or workflow_has_marked_place(reclamation, 'draft') or workflow_has_marked_place(reclamation, 'rejected') %}Révision<br>(Resp.){% else %}Revu<br>(Resp.){% endif%}</span>
											</div>
										</li>
										<li class="step {% if workflow_has_marked_place(reclamation, 'validation_ok')  %}step-success{% elseif workflow_has_marked_place(reclamation, 'validation') %}step-active{% endif %}">
											<div class="step-content">
											<span class="step-circle">3</span>
											<span class="step-text">{% if workflow_has_marked_place(reclamation, 'validation_ok') %}Validé<br>{% else %}validation<br>{% endif%}</span>
											</div>
										</li>
									</ul>

									<div class="hr-line-dashed"></div>

									{% set rolep = "" %}{% if reclamation.redacteur == app.user.people  %}{% set rolep = "redacteur" %}{% endif %}
									{% set roles = "" %}{% if reclamation.responsable == app.user.people  %}{% set roles = "responsable" %}{% set rolep = "redacteur" %}{% endif %}
									{% set roler = "" %}{% if app.user.customer.dpo == app.user.people or is_granted('ROLE_ADMIN')  %}{% set roler = "dpo" %}{% set roles = "responsable" %}{% set rolep = "redacteur" %}{% endif %}
									{% for transition in workflow_transitions(reclamation) %}
										{% if workflow_can(reclamation, transition.name) %}
											{% if workflow_metadata(reclamation, 'role', transition) in [rolep, roles, roler] %}
												<a type='button' style="margin: 2px" class="btn btn-{{ workflow_metadata(reclamation, 'ambiance', transition)}} btn-xs adisab" href="{{path('reclamation_workflow', {
												'id' : reclamation.id,
												'statut' : transition.name, 
												'r' : r,
												'rr' : rr
												})}}">
												{{ workflow_metadata(reclamation, 'title', transition) ?: 'n-a'}}
												</a>
											{% endif %}
										{% endif %}
									{% else %}
										No actions available.
									{% endfor %}
                                </div>
                            </dl>
                        </div>
                        {% endif %}
                    </div>
					<br><br>
					<div class="row">
						<div class="col-lg-12">
		                    <div class="tabs-container">
		                        <ul class="nav nav-tabs noprint">
		                            <li>
										<a class="nav-link active show" data-toggle="tab" href="#information"> 
				                            <span style="font-size: 18px;">
												<i class="fa fa-info-circle"></i>
											</span>
										</a>
									</li>
		                            <li>
										<a class="nav-link" data-toggle="tab" href="#relation"> 
				                            <span style="font-size: 18px;">
												<i class="fa fa-link"></i>
											</span>
										</a>
									</li>
									{% if editMode %}
									<li>
										<a class="nav-link" data-toggle="tab" href="#files"> 
				                            <span style="font-size: 18px;">
												<i class="fa fa-files-o"></i>
											</span>
										</a>
									</li>
									{% endif %}
									<li>
										<a class="nav-link" data-toggle="tab" href="#comment"> 
				                            <span style="font-size: 18px;">
												<i class="fa fa-pencil-square-o"></i>
											</span>
										</a>
									</li>
		                        </ul>

		                        <div class="tab-content">

		                            <div id="information" class="tab-pane active show">
		                                <div class="panel-body">
			                                <div class="row">
												<div class="col-md-12"><h3>Informations générales</h3></div>
											</div>
											<br>
											
											<div class="form-group  row">
												<label class="col-sm-2 col-form-label"><strong>{{ form_label(formReclamation.designation, 'Désignation') }}</strong></label>
												<div class="col-sm-10">{{ form_widget(formReclamation.designation)}}</div>
										    </div>


                                            <div class="hr-line-dashed"></div>

											<div class="form-group row">
												<label class="col-sm-2 col-form-label"><strong>{{ form_label(formReclamation.typereclamations, 'Objets') }}</strong><br>
												<small>Objet(s) de votre réclamation</small></label>
												<div class="col-sm-10">{{ form_widget(formReclamation.typereclamations)}}</div>

												
										    </div>
										    
										    <div class="hr-line-dashed"></div>
										    
											<div class="form-group  row">
												<label class="col-sm-2 col-form-label"><strong>{{ form_label(formReclamation.description, 'Description') }}</strong>
                                                <br><small>Veuillez préciser succinctement l'origine de votre réclamation (exemple : un bâtiment spécifique,
une installation particulière…) </small></label>
												<div class="col-sm-10">{{ form_widget(formReclamation.description)}}</div>
										    </div>
										    
										    <div class="hr-line-dashed"></div>

											
										    <div class="form-group row"><label class="col-sm-2 col-form-label"><strong>Managers</strong></label>
										        <div class="col-sm-10">
										            <div class="row">
										                <div class="col-md-4"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.responsable, 'Responsable') }}</span>{{ form_widget(formReclamation.responsable)}}</div>
										                <div class="col-md-4"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.suppleant, 'Suppléant') }}</span>{{ form_widget(formReclamation.suppleant)}}</div>
														<div class="col-md-4"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.redacteur, 'Rédacteur') }}</span>{{ form_widget(formReclamation.redacteur)}}</div>
										            </div>
										        </div>
										    </div>
											<div class="form-group row"><label class="col-sm-2 col-form-label"></label>
										        <div class="col-sm-10">
										            <div class="row">
														<div class="col-md-12"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.peoples, 'Contributeurs') }}</span>{{ form_widget(formReclamation.peoples)}}</div>
										            </div>
										        </div>
										    </div>
										    
										    <div class="hr-line-dashed"></div>

                                            <div class="form-group row"><label class="col-sm-2 col-form-label"><strong>Déclarants</strong></label>
										        <div class="col-sm-10">
										            <div class="row">
										                <div class="col-md-4"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.declarantnom, 'Nom complet') }}</span>{{ form_widget(formReclamation.declarantnom)}}</div>
										                <div class="col-md-4"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.declaranttel, 'Téléphone') }}</span>{{ form_widget(formReclamation.declaranttel)}}</div>
														<div class="col-md-4"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.declarantemail, 'Email') }}</span>{{ form_widget(formReclamation.declarantemail)}}</div>
										            </div>
										        </div>
										    </div>

                                            <div class="form-group row"><label class="col-sm-2 col-form-label"></label>
										        <div class="col-sm-10">
										            <div class="row">
										                <div class="col-md-6"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.anonyme, 'Je souhaite que mon anonymat soit préservé') }}</span>{{ form_widget(formReclamation.anonyme)}}</div>
										                <div class="col-md-6"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.information, 'Je souhaite être tenu informé(e) de l\'enquête et des suites proposées') }}</span>{{ form_widget(formReclamation.information)}}</div>
										            </div>
										        </div>
										    </div>


                                            <div class="hr-line-dashed"></div>

											<div class="form-group row">
												<label class="col-sm-2 col-form-label"><strong>{{ form_label(formReclamation.actions, 'Actions') }}</strong><br>
												<small>Rattacher ici les actions de mise en conformité ou de changement en lien avec cette réclamation.</small></label>
												<div class="col-sm-10">{{ form_widget(formReclamation.actions)}}</div>

												
										    </div>
										
												
		                                </div>
		                            </div>

		                            <div id="relation" class="tab-pane">
		                                <div class="panel-body">
                                            <div class="row">
												<div class="col-md-12"><h3>Association</h3></div>
											</div>
											<br>
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">{{ form_label(formReclamation.typeconformite, 'Domaine de conformité') }}</label>
												<div class="col-sm-10">{{ form_widget(formReclamation.typeconformite)}}</div>
										    </div>
										    
										    <div class="hr-line-dashed"></div>
										    
										    <div class="form-group row">
												<label class="col-sm-2 col-form-label">{{ form_label(formReclamation.processuses, 'Processus associé(s)') }}</label>
												<div class="col-sm-10">{{ form_widget(formReclamation.processuses)}}</div>
										    </div>

                                            <div class="hr-line-dashed"></div>
										    
										    <div class="form-group row">
												<label class="col-sm-2 col-form-label">{{ form_label(formReclamation.sites, 'Site(s) impacté(s)') }}<br>
                                                <small>Identification de(s) site(s) faisant l'objet de votre réclamation </small></label>
												<div class="col-sm-10">{{ form_widget(formReclamation.sites)}}</div>
										    </div>
                                            
			                               
		                                </div>
		                            </div>
		                            <div id="files" class="tab-pane noprint">
			                            <div class="panel-body">
			                                <div class="row">
												<div class="col-md-12"><h3>Gestionnaire de fichiers</h3></div>
											</div>
											<br>			                                
			                                <div class="form-group row">				
										        <div class="col-sm-12">
										            <iframe id="myframe" src="{{ path('file_manager', {module:1, conf:'entry', tree:0, extra: {'customer':app.user.customer.id, 'bigentity': 'Reclamation', 'entryprefix': 'FLU', 'entryid': reclamation.id}}) }}" width="100%" height="500" frameborder="0"></iframe>
										        </div>
										    </div>
			                            </div>
			                        </div>
		                           <div id="comment" class="tab-pane">
		                                <div class="panel-body">
			                                <div class="row">
												<div class="col-md-12"><h3>Notes</h3></div>
											</div>
											<br>			                                
			                                <div class="form-group row">				
										        <div class="col-sm-12">
											        {{ form_widget(formReclamation.commentaire)}}
										        </div>
										    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
					</div>
				</div>
	        </div>
    	</div>
    </div>
    {{ form_end(formReclamation) }}
{% endblock %}

	
	

{% block javascripts %}

	
	<script>
		$(document).ready(function() 
		{

		});
		
		
		
		
	</script>
	
{% endblock %}


