<table class="hover table table-bordered dataTables-site" >
    <thead>
        <tr>
            <th scope="col">Désignation</th>
            <th scope="col">Type de site</th>
            <th scope="col">Ville</th>
            <th scope="col">Managers</th>
            <th scope="col">Positions</th>
            <th scope="col" class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        {% for site in sites %}
            <article>
                <tr>
                        <td  class="table-title"  scope="row" data-order="{{ site.designation }}">
                    <a class="" href="{{path('site_edit',{'id' : site.id} ) }}">{{ site.designation | title }}</a>
                    <span class="badge badge-secondary small">SIT-{{ site.id }}</span>
                    </td>
                    <td scope="row">{{ site.typedesite.designation | default("")  }}</td>
                    <td scope="row">{{ site.ville | default("")  }}</td>
                    <td scope="row"><b>{{ site.responsable.firstname | default("")  }} {{ site.responsable.lastname | default("")  }}</b><br>
                    {{ site.suppleant.firstname | default("")  }} {{ site.suppleant.lastname | default("")  }}
                    </td>
                    <td><span class="badge badge-primary">{{ site.peoples|length }}</span></td>
                    
                    <td data-order="{{ site.PublishedAt | date("Ymd")}}">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-info"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="{{path('site_edit',{'slug' : site.slug, 'id' : site.id, 'r' : r, 'rr' : rr} ) }}"> Afficher</a>
                            {% if is_granted('ROLE_ADMIN')  or is_granted('ROLE_USER_ALLOWDELETE') %}
                            <a class="dropdown-item del" href="{{path('site_remove',{'slug' : site.slug, 'id' : site.id, 'r' : r, 'rr' : rr} ) }}"> Supprimer</a>
                            {% endif %}
                            <a class="dropdown-item">
                                <small>Modifiée le {{ site.PublishedAt | date("d M Y")}}</small>
                                <small> {% set today = "now"|date("Y/m/d") %}
                                {% set difference = date(site.PublishedAt).diff(date(today)) %}
                                {% set leftDays = difference.days %}
                                {% if leftDays >= 180 and leftDays < 360 %}
                                <small class="text-warning">({{ leftDays }}j)</small>
                                {% elseif leftDays >= 360 %}
                                    <small class="text-danger">({{ leftDays }}j)</small>
                                {% else %}
                                    <small>({{ leftDays }}j)</small>
                                {% endif %}
                                <br>par {{site.publisher.firstname | default("") }} {{ site.publisher.lastname | default("") }}</small>
                            </a>
                        </div>
                    </td>
                </tr>
            </article>
        {% endfor %}
    </tbody>
</table>