{% extends 'baseform.html.twig' %}

{% form_theme formUser _self %}

{% block body %}
	{{ form_start(formUser) }}
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox" id="printed">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-6">
								<h2>
								{% if not editMode %}
								Nouvel utilisateur
								{% else %}
								{{ user.id }}
								{% endif %}
								</h2>
							</div>
							<div class="col-lg-6">
								<span class="float-right">
									{{ include('mod/edit-buttons.html.twig', {entname : 'user', entid : user.id }) }}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">

								<div class="form-group  row">
									<label class="col-sm-2 col-form-label">{{ form_label(formUser.email, 'Email') }}</label>
									<div class="col-sm-10">{{ form_widget(formUser.email)}}</div>
								</div>
								<div class="form-group  row">
									<label class="col-sm-2 col-form-label">{{ form_label(formUser.password, 'Mot de passe') }}</label>
									<div class="col-sm-10">{{ form_widget(formUser.password)}}</div>
								</div>
								
								
								<div class="hr-line-dashed"></div>
								
								<div class="form-group  row">
									<label class="col-sm-2 col-form-label">{{ form_label(formUser.nom, 'Nom') }}</label>
									<div class="col-sm-10">{{ form_widget(formUser.nom)}}</div>
								</div>
								
								<div class="hr-line-dashed"></div>
								
								<div class="form-group  row">
									<label class="col-sm-2 col-form-label">{{ form_label(formUser.prenom, 'Prénom') }}</label>
									<div class="col-sm-10">{{ form_widget(formUser.prenom)}}</div>
								</div>
								
								<div class="hr-line-dashed"></div>
								
								<div class="form-group  row">
									<label class="col-sm-2 col-form-label">{{ form_label(formUser.landing, 'Page de démarrage') }}</label>
									<div class="col-sm-10">{{ form_widget(formUser.landing)}}</div>
								</div>
								
								<div class="hr-line-dashed"></div>
									
								<div class="form-group  row">
									<label class="col-sm-2 col-form-label">{{ form_label(formUser.description, 'Description') }}</label>
									<div class="col-sm-10">{{ form_widget(formUser.description)}}</div>
								</div>
								
								<div class="hr-line-dashed"></div>
								
								<div class="form-group  row">
									<label class="col-sm-2 col-form-label">{{ form_label(formUser.people, 'Association collaborateur') }}</label>
									<div class="col-sm-10">{{ form_widget(formUser.people)}}</div>
								</div>

								<div class="hr-line-dashed"></div>
								
								<div class="form-group  row">
									<label class="col-sm-2 col-form-label">{{ form_label(formUser.userRoles, 'Rôles') }}</label>
									<div class="col-sm-10">{{ form_widget(formUser.userRoles)}}</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    {{ form_end(formUser) }}
{% endblock %}
	
{% block javascripts %}

	<script>
	
		
	</script>
	
{% endblock %}