<div class="row">
    <div class="col-lg-12">
        <div class="card-columns">
        {% for processus in allprocessuses if processus.typeprocessus.code is defined and processus.typeprocessus.code == "MAN" %}
            <div class="sortable">
                <!--Panel-->
                <div class="card" style="padding: 2px;">
                    <div class="card-body" style="padding: 15px;">
                        {% if processus.typeprocessus.code is defined %}
                            
                            <div class="row">
                                <div class="col-2">
                                    <h2>
                                        <a onclick="crossEntity({{ processus.id }},'processus')" class=" 
                                        {% if processus.typeprocessus.code is defined and processus.typeprocessus.code == "MAN" %}
                                        text-glaucous
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "REA" %}
                                        text-midnight
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "SUP" %}
                                        text-flirt
                                        {% endif %}"><strong class="textlr">{{ processus.code | default("N/C") }}</strong>	
                                        </a>
                                    </h2>
                                </div>
                                <div class="col-10">
                                    {{ processus.metier.designation| default("") }}
                                    <h2>
                                        <a onclick="crossEntity({{ processus.id }},'processus')" class=" 
                                        {% if processus.typeprocessus.code is defined and processus.typeprocessus.code == "MAN" %}
                                        text-glaucous
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "REA" %}
                                        text-midnight
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "SUP" %}
                                        text-flirt
                                        {% endif %}"><strong><a  onclick="crossEntity({{ processus.id }},'processus')">{{ processus.designation | default("N/C") }}</a></strong>	
                                        </a>
                                    </h2>
                                    {% if processus.finalite %}
                                        {{ processus.finalite | default("") }}
                                        <br>
                                    {% endif %}
                                    
                                    
                                    
                                    {% if processus.risques|length > 0 %}<span class="badge badge-danger"><small>{{ processus.risques|length | default("") }} risque{% if processus.risques|length > 1  %}s{% endif %}</small></span>{% endif %}
                                    {% if processus.actions|length > 0 %}<span class="badge badge-info"><small>{{ processus.actions|length | default("") }} action{% if processus.actions|length > 1  %}s{% endif %}</small></span>{% endif %}
                                    
                                </div>
                            </div>
                            
                            <br>																														
                            <div class="card-columns card-columns2">
                            {% for activite in allactivites if activite.processus.id is defined and activite.processus.id == processus.id %}
                                <div class="sortable">
                                    <div class="card flatbg btn 
                                    {% if processus.typeprocessus.code is defined and processus.typeprocessus.code == "MAN" %}
                                    glaucous-bg
                                    {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "REA" %}
                                    midnight-bg
                                    {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "SUP" %}
                                    flirt-bg
                                    {% endif %} text-left" style="padding: 0px;">
                                        <div class="card-body" style="padding: 8px;">
                                            <a onclick="crossEntity({{ activite.id }},'activite')" class="text-white"><strong>{{ activite.designation | default("N/C") }}</strong></a>
                                        </div>						
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
    
                        {% endif %}

                    
                    </div>
                </div>
                <!--/.Panel-->
            </div>
        {% endfor %}
        </div>
        <div class="card-columns">
        {% for processus in allprocessuses if processus.typeprocessus.code is defined and processus.typeprocessus.code == "REA" %}
            <div class="sortable">
                <!--Panel-->
                <div class="card" style="padding: 2px;">
                    <div class="card-body" style="padding: 15px;">
                        {% if processus.typeprocessus.code is defined %}
                            
                            <div class="row">
                                <div class="col-2">
                                    <h2>
                                        <a onclick="crossEntity({{ processus.id }},'processus')" class=" 
                                        {% if processus.typeprocessus.code is defined and processus.typeprocessus.code == "MAN" %}
                                        text-glaucous
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "REA" %}
                                        text-midnight
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "SUP" %}
                                        text-flirt
                                        {% endif %}"><strong class="textlr">{{ processus.code | default("N/C") }}</strong>	
                                        </a>
                                    </h2>
                                </div>
                                <div class="col-10">
                                    {{ processus.metier.designation| default("") }}
                                    <h2>
                                        <a onclick="crossEntity({{ processus.id }},'processus')" class=" 
                                        {% if processus.typeprocessus.code is defined and processus.typeprocessus.code == "MAN" %}
                                        text-glaucous
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "REA" %}
                                        text-midnight
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "SUP" %}
                                        text-flirt
                                        {% endif %}"><strong><a onclick="crossEntity({{ processus.id }},'processus')">{{ processus.designation | default("N/C") }}</a></strong>	
                                        </a>
                                    </h2>
                                    {% if processus.finalite %}
                                        {{ processus.finalite | default("") }}
                                        <br>
                                    {% endif %}
                                
                                    
                                    
                                    {% if processus.risques|length > 0 %}<span class="badge badge-danger"><small>{{ processus.risques|length | default("") }} risque{% if processus.risques|length > 1  %}s{% endif %}</small></span>{% endif %}
                                    {% if processus.actions|length > 0 %}<span class="badge badge-info"><small>{{ processus.actions|length | default("") }} action{% if processus.actions|length > 1  %}s{% endif %}</small></span>{% endif %}
                                    
                                </div>
                            </div>
                            
                            <br>
                                                                        
                            <div class="card-columns card-columns2">
                            {% for activite in allactivites if activite.processus.id is defined and activite.processus.id == processus.id %}
                                <div class="sortable">
                                    <div class="card flatbg btn 
                                    {% if processus.typeprocessus.code is defined and processus.typeprocessus.code == "MAN" %}
                                    glaucous-bg
                                    {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "REA" %}
                                    midnight-bg
                                    {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "SUP" %}
                                    flirt-bg
                                    {% endif %} text-left" style="padding: 0px;">
                                        <div class="card-body" style="padding: 8px;">
                                            <a onclick="crossEntity({{ activite.id }},'activite')" class="text-white"><strong>{{ activite.designation | default("N/C") }}</strong></a>
                                        </div>						
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
    
                        {% endif %}
                    </div>
                </div>
                <!--/.Panel-->
            </div>
        {% endfor %}
        </div>
        
        <div class="card-columns">
        {% for processus in allprocessuses if processus.typeprocessus.code is defined and processus.typeprocessus.code == "SUP" %}
            <div class="sortable">
                <!--Panel-->
                <div class="card" style="padding: 2px;">
                    <div class="card-body" style="padding: 15px;">
                        {% if processus.typeprocessus.code is defined %}
                            
                            <div class="row">
                                <div class="col-2">
                                    <h2>
                                        <a onclick="crossEntity({{ processus.id }},'processus')" class=" 
                                        {% if processus.typeprocessus.code is defined and processus.typeprocessus.code == "MAN" %}
                                        text-glaucous
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "REA" %}
                                        text-midnight
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "SUP" %}
                                        text-flirt
                                        {% endif %}"><strong class="textlr">{{ processus.code | default("N/C") }}</strong>	
                                        </a>
                                    </h2>
                                </div>
                                <div class="col-10">
                                    {{ processus.metier.designation| default("") }}
                                    <h2>
                                        <a onclick="crossEntity({{ processus.id }},'processus')" class=" 
                                        {% if processus.typeprocessus.code is defined and processus.typeprocessus.code == "MAN" %}
                                        text-glaucous
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "REA" %}
                                        text-midnight
                                        {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "SUP" %}
                                        text-flirt
                                        {% endif %}"><strong><a onclick="crossEntity({{ processus.id }},'processus')">{{ processus.designation | default("N/C") }}</a></strong>	
                                        </a>
                                    </h2>
                                    {% if processus.finalite %}
                                        {{ processus.finalite | default("") }}
                                        <br>
                                    {% endif %}
                                    
                                    
                                    {% if processus.risques|length > 0 %}<span class="badge badge-danger"><small>{{ processus.risques|length | default("") }} risque{% if processus.risques|length > 1  %}s{% endif %}</small></span>{% endif %}
                                    {% if processus.actions|length > 0 %}<span class="badge badge-info"><small>{{ processus.actions|length | default("") }} action{% if processus.actions|length > 1  %}s{% endif %}</small></span>{% endif %}
                                    
                                </div>
                            </div>
                            
                            <br>
                                                                        
                            <div class="card-columns card-columns2">
                            {% for activite in allactivites if activite.processus.id is defined and activite.processus.id == processus.id %}
                                <div class="sortable">
                                    <div class="card flatbg btn 
                                    {% if processus.typeprocessus.code is defined and processus.typeprocessus.code == "MAN" %}
                                    glaucous-bg
                                    {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "REA" %}
                                    midnight-bg
                                    {% elseif processus.typeprocessus.code is defined and processus.typeprocessus.code == "SUP" %}
                                    flirt-bg
                                    {% endif %} text-left" style="padding: 0px;">
                                        <div class="card-body" style="padding: 8px;">
                                            <a onclick="crossEntity({{ activite.id }},'activite')" class="text-white"><strong>{{ activite.designation | default("N/C") }}</strong></a>
                                        </div>						
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
    
                        {% endif %}

                        
                    </div>
                </div>
                <!--/.Panel-->
            </div>
        {% endfor %}
        </div>
    </div>
</div>