{% extends 'baseform.html.twig' %}

{% form_theme formReclamation _self %}

{% block body %}
	{{ form_start(formReclamation) }}
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox" id="printed">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-4">
								<h1>
								{% if not editMode %}
								Nouvelle réclamation
								{% else %}
								Réclamation
								{% endif %}
								</h1>
							</div>
							<div class="col-lg-8">
                                <span class="float-right">
                                    <a class="btn btn-white btn-sm noprint" onclick="leaveEntity('reclamation')">Quitter</a>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER_EDITABLE')%}
                                        <button type='submit' class="btn btn-primary btn-sm noprint disab" data-id="{{ reclamation.id }}" onclick="submitAjax({{ reclamation.id | default("undefined") }},'reclamation')">
                                        {% if editMode %}
                                        Enregistrer <span class="change-message">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 1 0V6.707l1.146 1.147a.5.5 0 0 0 .708-.708z"/>
                                        </svg>
                                        </span>
                                        {% else %}
                                        Ajouter
                                        {% endif %}
                                        </button>
										<span class="dropdown">
										<button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="" data-id="{{ reclamation.id }}" onclick="deleteEntity({{ reclamation.id | default("undefined") }},'reclamation')">Supprimer</a>
										</div>
										</span>
                                    {% endif %}
                                </span>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-12">
								<div class="row">
									<div class="col-lg-12">
										<br>
										<div class="form-group row">
											<div class="col-sm-2"></div>
											<div class="col-sm-10">{{ form_widget(formReclamation.designation)}}</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label text-sm-right"><strong></strong></label>
											<div class="col-sm-5">
												{{ form_widget(formReclamation.responsable)}}<small id="" class="form-text text-muted">Responsable</small>
												{{ form_widget(formReclamation.suppleant)}}<small id="" class="form-text text-muted">Suppléant</small>
												{{ form_widget(formReclamation.redacteur)}}<small id="" class="form-text text-muted">Redacteur</small>
											</div>
											<div class="col-sm-5">{{ form_widget(formReclamation.peoples)}}<small id="" class="form-text text-muted">Contributeurs</small></div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-2 col-form-label text-sm-right"><strong></strong></label>
							<div class="col-sm-8 text-sm-left">
								<dd class="mb-1">{% for place in workflow_marked_places(reclamation) %} <strong>{{ workflow_metadata(reclamation, 'title', place)|lower ?: ''}}</strong>{% endfor %} le {{ reclamation.validatedat | date("d M Y")  }} par {{ reclamation.validator.firstname | default("n/c") }} </dd>
								{% set rolep = "" %}
								{% for people in reclamation.peoples %}
									{% if people == app.user.people %}{% set rolep = "people" %}{% endif %}
								{% endfor %}
								{% set roles = "" %}{% if reclamation.suppleant == app.user.people  %}{% set roles = "suppleant" %}{% set rolep = "people" %}{% endif %}
								{% set roler = "" %}{% if reclamation.responsable == app.user.people or is_granted('ROLE_ADMIN')  %}{% set roler = "responsable" %}{% set roles = "suppleant" %}{% set rolep = "people" %}{% endif %}
								{% for transition in workflow_transitions(reclamation) %}
									{% if workflow_can(reclamation, transition.name) %}
										{% if workflow_metadata(reclamation, 'role', transition) in [rolep, roles, roler] %}
											<a type="button" href="#" style="margin: 2px" class="ajaxWorkflow btn btn-{{ workflow_metadata(reclamation, 'ambiance', transition)}} btn-xs adisab" data-id="{{ reclamation.id }}" data-statewk="{{ transition.name }}" data-entite="reclamation">
											{{ workflow_metadata(reclamation, 'title', transition) ?: 'n-a'}}
											</a>
										{% endif %}
									{% endif %}
								{% else %}
									No actions available.
								{% endfor %}
							</div>
						</div>
						<br><br>
					
						<div class="row">
							<div class="col-lg-12">
								<div class="tabs-container">
									<ul class="nav nav-tabs">
										<li>
											<a class="nav-link active show" data-toggle="tab" href="#introduction"> 
												<span style="font-size: 18px;">
													<i class="fa fa-info-circle"></i>
												</span>
											</a>
										</li>
										{% if editMode %}
										<li>
											<a class="nav-link" data-toggle="tab" href="#docs"> 
												<span style="font-size: 18px;">
													<i class="fa fa-files-o"></i>
												</span>
											</a>
										</li>
										{% endif %}
										<li>
											<a class="nav-link" data-toggle="tab" href="#comment"> 
												<span style="font-size: 18px;">
													<i class="fa fa-pencil-square-o"></i>
												</span>
											</a>
										</li>
									</ul>
									
									<div class="tab-content">
										
										<div id="introduction" class="tab-pane active show">
											<div class="panel-body">
												<div class="row">	
													<div class="col-sm-12">
													
														<h2>Description</h2>

														<div class="form-group row">
															<label class="col-sm-2 col-form-label"><strong>{{ form_label(formReclamation.typereclamations, 'Objets') }}</strong><br>
															<small>Objet(s) de votre réclamation</small></label>
															<div class="col-sm-10">{{ form_widget(formReclamation.typereclamations)}}</div>

															
														</div>
														
														<div class="hr-line-dashed"></div>
														
														<div class="form-group  row">
															<label class="col-sm-2 col-form-label"><strong>{{ form_label(formReclamation.description, 'Description') }}</strong>
															<br><small>Veuillez préciser succinctement l'origine de votre réclamation (exemple : un bâtiment spécifique,
			une installation particulière…) </small></label>
															<div class="col-sm-10">{{ form_widget(formReclamation.description)}}</div>
														</div>
														

														
														<div class="hr-line-dashed"></div>

														<div class="form-group row"><label class="col-sm-2 col-form-label"><strong>Déclarants</strong></label>
															<div class="col-sm-10">
																<div class="row">
																	<div class="col-md-4"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.declarantnom, 'Nom complet') }}</span>{{ form_widget(formReclamation.declarantnom)}}</div>
																	<div class="col-md-4"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.declaranttel, 'Téléphone') }}</span>{{ form_widget(formReclamation.declaranttel)}}</div>
																	<div class="col-md-4"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.declarantemail, 'Email') }}</span>{{ form_widget(formReclamation.declarantemail)}}</div>
																</div>
															</div>
														</div>

														<div class="form-group row"><label class="col-sm-2 col-form-label"></label>
															<div class="col-sm-10">
																<div class="row">
																	<div class="col-md-6"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.anonyme, 'Je souhaite que mon anonymat soit préservé') }}</span>{{ form_widget(formReclamation.anonyme)}}</div>
																	<div class="col-md-6"><span class="form-text m-b-none text-navy">{{ form_label(formReclamation.information, 'Je souhaite être tenu informé(e) de l\'enquête et des suites proposées') }}</span>{{ form_widget(formReclamation.information)}}</div>
																</div>
															</div>
														</div>


														<div class="hr-line-dashed"></div>

														<div class="form-group row">
															<label class="col-sm-2 col-form-label"><strong>{{ form_label(formReclamation.actions, 'Actions') }}</strong><br>
															<small>Rattacher ici les actions de mise en conformité ou de changement en lien avec cette réclamation.</small></label>
															<div class="col-sm-10">{{ form_widget(formReclamation.actions)}}</div>

															
														</div>

                                                        
														
													</div>
													<div class="col-lg-12">
														<h2>Relations</h2>

														<div class="form-group row">
															<label class="col-sm-2 col-form-label">{{ form_label(formReclamation.typeconformite, 'Domaine de conformité') }}</label>
															<div class="col-sm-10">{{ form_widget(formReclamation.typeconformite)}}</div>
														</div>
														
														<div class="hr-line-dashed"></div>
														
														<div class="form-group row">
															<label class="col-sm-2 col-form-label">{{ form_label(formReclamation.processuses, 'Processus associé(s)') }}</label>
															<div class="col-sm-10">{{ form_widget(formReclamation.processuses)}}</div>
														</div>

														<div class="hr-line-dashed"></div>
														
														<div class="form-group row">
															<label class="col-sm-2 col-form-label">{{ form_label(formReclamation.sites, 'Site(s) impacté(s)') }}<br>
															<small>Identification de(s) site(s) faisant l'objet de votre réclamation </small></label>
															<div class="col-sm-10">{{ form_widget(formReclamation.sites)}}</div>
														</div>

                                                        
															
													</div>
												</div>
											</div>
										</div>
									

										{% if editMode %}
										<div id="docs" class="tab-pane">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-12"><h3>Gestionnaire de fichiers</h3></div>
												</div>
												<br>			                                
												<div class="form-group row">				
													<div class="col-sm-12">
														<iframe id="myframe" src="{{ path('file_manager', {module:1, conf:'entry', tree:0, extra: {'customer':app.user.customer.id, 'bigentity': 'Reclamation', 'entryprefix': 'AU', 'entryid': reclamation.id}}) }}" width="100%" height="500" frameborder="0"></iframe>
													</div>
												</div>
											</div>
										</div>
										{% endif %}
										<div id="comment" class="tab-pane">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-12"><h3>Notes</h3></div>
												</div>
												<br>			                                
												<div class="form-group row">				
													<div class="col-sm-12">
														{{ form_widget(formReclamation.commentaire)}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>

    {{ form_end(formReclamation) }}
{% endblock %}



	
{% block javascripts %}

	<script>

	$(document).ready(function() {		
		
        
		


        
	});	


			
		
	</script>
	
{% endblock %}
	



