{% extends 'baseform.html.twig' %}

{% form_theme formVisiteSite _self %}

{% block body %}
	{{ form_start(formVisiteSite) }}
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox" id="printed">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-6">
								<h2>
								{% if not editMode %}
								Nouvelle visite
								{% else %}
								Visite
								{% endif %}
								</h2>
							</div>
							<div class="col-lg-6">
								<span class="float-right">
									{{ include('mod/edit-buttons.html.twig', {entname : 'visitesite', entid : visitesite.id }) }}
								</span>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-12">
								<div class="row">
									<div class="col-lg-12">
										<br>
										<div class="form-group row">
											<div class="col-sm-2"></div>
											<div class="col-sm-10">{{ form_widget(formVisiteSite.designation)}}</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label text-sm-right"><strong></strong></label>
											<div class="col-sm-5">
												{{ form_widget(formVisiteSite.responsable)}}<small id="" class="form-text text-muted">Responsable</small>
												{{ form_widget(formVisiteSite.suppleant)}}<small id="" class="form-text text-muted">Suppléant</small>
												{{ form_widget(formVisiteSite.redacteur)}}<small id="" class="form-text text-muted">Rédacteur</small>
											</div>
											<div class="col-sm-5">{{ form_widget(formVisiteSite.peoples)}}<small id="" class="form-text text-muted">Contributeurs</small></div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						{% if editMode %}
						<div class="row">
							<label class="col-sm-2 col-form-label text-sm-right"><strong></strong></label>
							<div class="col-sm-8 text-sm-left">
								{{ include('mod/edit-workflow.html.twig', {ent : visitesite, entname : 'visitesite', entid : visitesite.id }) }}
							</div>
						</div>
						{% endif %}
					
						<div class="row">
							<div class="col-lg-12">
								<div class="tabs-container">
									<ul class="nav nav-tabs">
										<li>
											<a class="nav-link active show" data-toggle="tab" href="#introduction"> 
												<span style="font-size: 18px;">
													<i class="fa fa-info-circle"></i>
												</span>
											</a>
										</li>
										{% if editMode %}
										<li>
											<a class="nav-link" data-toggle="tab" href="#docs"> 
												<span style="font-size: 18px;">
													<i class="fa fa-files-o"></i>
												</span>
											</a>
										</li>
										{% endif %}
										<li>
											<a class="nav-link" data-toggle="tab" href="#comment"> 
												<span style="font-size: 18px;">
													<i class="fa fa-pencil-square-o"></i>
												</span>
											</a>
										</li>
									</ul>
									
									<div class="tab-content">
										
										<div id="introduction" class="tab-pane active show">
											<div class="panel-body">
												<div class="row">	
													<div class="col-sm-12">
													
														<h2>Description</h2>

														<br>
														
														<div class="form-group  row">
															<label class="col-sm-2 col-form-label"><strong>{{ form_label(formVisiteSite.designation, 'Designation') }}</strong></label>
															<div class="col-sm-10"><span class="form-text m-b-none text-navy">Date de visite</span>{{ form_widget(formVisiteSite.VisitedAt)}}</div>
														</div>
														
														<div class="hr-line-dashed"></div>

                                                        <div class="form-group  row">
                                                            <label class="col-sm-2 col-form-label"><strong>{{ form_label(formVisiteSite.description, 'Description') }}</strong></label>
                                                            <div class="col-sm-10">{{ form_widget(formVisiteSite.description)}}</div>
                                                            <div class="col-sm-3"></div>
                                                        </div>


                                                        
														
													</div>
													<div class="col-lg-12">
														<h2>Relations</h2>

														<br>
														<div class="form-group row">				
															<div class="col-sm-12">
																<div class="form-group row">
																	<label class="col-sm-2 col-form-label"><strong>{{ form_label(formVisiteSite.ressources, 'Ressources') }}</strong></label>
																	<div class="col-sm-10">{{ form_widget(formVisiteSite.ressources)}}</div>
																</div>
															</div>
														</div>	
														<div class="form-group row">				
															<div class="col-sm-12">
																<div class="form-group row">
																	<label class="col-sm-2 col-form-label"><strong>{{ form_label(formVisiteSite.dysfonctionnements, 'Dysfonc.') }}</strong></label>
																	<div class="col-sm-10">{{ form_widget(formVisiteSite.dysfonctionnements)}}</div>
																</div>
															</div>
														</div>		                                
														<div class="form-group row">				
															<div class="col-sm-12">
																<div class="form-group row">
																	<label class="col-sm-2 col-form-label"><strong>{{ form_label(formVisiteSite.sites, 'Sites') }}</strong></label>
																	<div class="col-sm-10">{{ form_widget(formVisiteSite.sites)}}</div>
																</div>
															</div>
														</div>
																							
														<div class="form-group row">				
															<div class="col-sm-12">
																<div class="form-group row">
																	<label class="col-sm-2 col-form-label"><strong>{{ form_label(formVisiteSite.typeconformite, 'Domaines de conformité') }}</strong></label>
																	<div class="col-sm-10">{{ form_widget(formVisiteSite.typeconformite)}}</div>
																</div>
															</div>
														</div>

                                                        
															
													</div>
												</div>
											</div>
										</div>
									

										{% if editMode %}
										<div id="docs" class="tab-pane">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-12"><h3>Gestionnaire de fichiers</h3></div>
												</div>
												<br>			                                
												<div class="form-group row">				
													<div class="col-sm-12">
														<iframe id="myframe" src="{{ path('file_manager', {module:1, conf:'entry', tree:0, extra: {'customer':app.user.customer.id, 'bigentity': 'visite_site', 'entryprefix': 'AU', 'entryid': visitesite.id}}) }}" width="100%" height="500" frameborder="0"></iframe>
													</div>
												</div>
											</div>
										</div>
										{% endif %}
										<div id="comment" class="tab-pane">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-12"><h3>Notes</h3></div>
												</div>
												<br>			                                
												<div class="form-group row">				
													<div class="col-sm-12">
														{{ form_widget(formVisiteSite.commentaire)}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>

    {{ form_end(formVisiteSite) }}
{% endblock %}



	
{% block javascripts %}

	<script>

	$(document).ready(function() {		
		
        
		


        
	});	


			
		
	</script>
	
{% endblock %}
	



